parameters:
    database_host: "{{ database_host }}"
    database_port: "{{ database_port }}"
    database_name: "{{ database_name }}"
    database_user: "{{ database_user }}"
    database_password: "{{ database_password }}"
    mailer_transport: "{{ mailer_transport }}"
    mailer_host: "{{ mailer_host }}"
    mailer_user: "{{ mailer_user }}"
    mailer_password: "{{ mailer_password }}"
    app_env: "{{ app_env }}"
    app_debug: "{{ app_debug }}"
    eccube_locale: "{{ eccube_locale }}"
    eccube_timezone: "{{ eccube_timezone }}"
    eccube_currency: "{{ eccube_currency }}"
    eccube_admin_route: "{{ eccube_admin_route }}"
    eccube_user_data_route: "{{ eccube_user_data_route }}"
    eccube_force_ssl: "{{ eccube_force_ssl }}"
    eccube_template_code: "{{ eccube_template_code }}"
    eccube_auth_magic: "{{ eccube_auth_magic }}"
    eccube_cookie_name: "{{ eccube_cookie_name }}"
    eccube_cookie_path: "{{ eccube_cookie_path }}"
    eccube_cookie_lifetime: "{{ eccube_cookie_lifetime }}"
    eccube_gc_maxlifetime: "{{ eccube_gc_maxlifetime }}"
    eccube_admin_user: "{{ eccube_admin_user }}"
    eccube_admin_pass: "{{ eccube_admin_pass }}"
    eccube_2fa_enabled: "{{ eccube_2fa_enabled }}"
    eccube_2fa_cookie_name: "{{ eccube_2fa_cookie_name }}"
    eccube_2fa_expire: "{{ eccube_2fa_expire }}"
    eccube_restrict_file_upload: "{{ eccube_restrict_file_upload }}"