<div {{ attributes }}>
    <input
        type="search"
        data-model="query"
    >

    <ul>
        {% for product in this.products %}
            <li>{{ product.className1 }}</li>
        {% endfor %}
    </ul>
</div>